.task,
.task_state {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  opacity: 0.5;
  color: #000;
  transition: opacity 0.2s ease-out;
  border: none;
  background: transparent;
}

.task_state {
  padding: 0 0 0 6px;
  cursor: pointer;
  outline: none;
}

.task_state:hover {
  opacity: 1;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: row;
}

@media only screen and (min-width: 100px) and (max-width: 750px) {
  .wrap {
    flex-direction: column;
  }
}